<div class="container mt-4">
  <h5 class="text-center mb-4">
    MERCI POUR VOTRE DEMANDE <i class="fa fa-smile-o" aria-hidden="true" style="color:#ff9800;"></i> .<br>
    NOS ÉQUIPES VONT VOUS CONTACTER AU PLUS VITE.
  </h5>

  <h6>Informations de votre demande :</h6>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Détails du contact</h5>
      <p class="card-text"><strong>Nom :</strong> {{ formData.contact.firstName }} {{ formData.contact.lastName }}</p>
      <p class="card-text"><strong>Email :</strong> {{ formData.contact.email }}</p>
      <p class="card-text"><strong>Téléphone :</strong> {{ formData.contact.phone }}</p>
      <p class="card-text"><strong>Adresse :</strong> {{ formData.contact.address }}, {{ formData.contact.city }} {{ formData.contact.postalCode }}</p>
      <p class="card-text"><strong>Date de naissance :</strong> {{ formData.contact.birthDate }}</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Objectif</h5>
      <p class="card-text"><strong>Option choisie :</strong> {{ formData.objective.selectedOption }}</p>
      <p class="card-text"><strong>Annulation :</strong> {{ formData.objective.annulation ? 'Oui' : 'Non' }}</p>
      <p class="card-text"><strong>Date d'achat :</strong> {{ formData.objective.purchaseDate }}</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Détails du véhicule</h5>
      <p class="card-text"><strong>Marque :</strong> {{ formData.vehicle.vehicleBrand }}</p>
      <p class="card-text"><strong>Modèle :</strong> {{ formData.vehicle.model }}</p>
      <p class="card-text"><strong>Capacité du moteur :</strong> {{ formData.vehicle.engineCapacity }}</p>
      <p class="card-text"><strong>Numéro d'immatriculation :</strong> {{ formData.vehicle.registrationNumber }}</p>
      <p class="card-text"><strong>Date d'acquisition :</strong> {{ formData.vehicle.acquisitionDate }}</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Détails du permis</h5>
      <p class="card-text"><strong>Permis A1 :</strong> {{ formData.permis.permisA1 }}</p>
      <p class="card-text"><strong>Permis A2 :</strong> {{ formData.permis.permisA2 }}</p>
      <p class="card-text"><strong>Permis A :</strong> {{ formData.permis.permisA }}</p>
      <p class="card-text"><strong>Permis B :</strong> {{ formData.permis.permisB }}</p>
      <p class="card-text"><strong>Annulation Permis A :</strong> {{ formData.permis.annulationA ? 'Oui' : 'Non' }}</p>
    </div>
  </div>

  <div class="form-group mt-4 text-center"> <!-- Ajout de text-center pour centrer le contenu -->
    <label for="verificationCode">Entrez le code de vérification :</label>
    <br>
    <canvas #captchaCanvas class="captcha-canvas"></canvas> <!-- Ajoutez une classe pour styliser le canvas -->
    <input type="text" id="verificationCode" [(ngModel)]="userInputCode" class="form-control" required>
    <div *ngIf="userInputCode !== randomCode && userInputCode !== ''" class="text-danger">
      Le code est incorrect.
    </div>
  </div>




  <form (ngSubmit)="sendRequest()" #myForm="ngForm" class="mt-4">
    <!-- Les autres champs du formulaire -->

    <!-- Case à cocher pour accepter les termes et conditions -->
    <div class="form-check mt-3">
      <input type="checkbox" class="form-check-input" id="acceptTerms" name="acceptTerms" [(ngModel)]="acceptTerms" #acceptTermsCtrl="ngModel" required>
      <label class="form-check-label" for="acceptTerms">
        J'accepte que mes informations soient utilisées pour me contacter et recevoir des offres personnalisées.
      </label>
      <div *ngIf="acceptTermsCtrl.invalid && acceptTermsCtrl.touched" class="text-danger">
        Veuillez accepter les conditions pour poursuivre.
      </div>
    </div>

    <!-- Les boutons de soumission -->
    <div class="button-container mt-3">
      <button type="button" class="btn btn-secondary" (click)="goBack()">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Revenir en arrière
      </button>
      <button type="submit" class="btn btn-warning">
        <i class="fa fa-check btn-icon-prepend"></i> Envoyer ma demande
      </button>
    </div>
  </form>







  <!-- Button to open the modal -->
<div class="text-center mt-4">
  <button class="btn btn-warning" (click)="openModal()">
      <i class="fa fa-calendar" aria-hidden="true"></i> Prenez un rendez-vous
  </button>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" style="display: {{isModalOpen ? 'block' : 'none'}}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Prendre un rendez-vous 😉</h5>
      <button type="button" class="close" (click)="closeModal()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="date">Choisissez une date et une heure :</label>
      <input type="datetime-local" id="date" [(ngModel)]="appointment.date" class="form-control">

      <label for="phone">Votre numéro de téléphone :</label>
      <input type="tel" id="phone" [(ngModel)]="appointment.phone" class="form-control">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirmAppointment()">Confirmer</button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
    </div>
  </div>
</div>
</div>

<!-- Confirmation Message -->
<div *ngIf="confirmationMessage" class="alert alert-success mt-4">
  {{ confirmationMessage }}
</div>


  <div id="confirmation" class="confirmation mt-4" *ngIf="confirmationVisible">
    Merci pour votre demande. Nos équipes vont vous contacter au plus vite.
    <br>
    Vous pouvez également prendre rendez-vous directement en cliquant sur ce lien :
    <a href="https://calendly.com/votre-lien-calendly">Prendre rendez-vous</a>
  </div>
</div>


<!-- Bannière d'acceptation des cookies -->
<div *ngIf="!cookiesAccepted" class="cookie-banner">
  <p>Nous utilisons des cookies pour améliorer votre expérience. En continuant à naviguer sur notre site, vous acceptez notre politique de cookies.</p>
  <div class="cookie-buttons">
    <button (click)="acceptCookies()">Accepter</button>
    <button (click)="rejectCookies()">Annuler</button>
  </div>
</div>










<script src="https://www.google.com/recaptcha/api.js" async defer></script>
